.title {
  color: #f5bc00;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  font-weight: 800 !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
.eye {
  color: #ffffff;
}
