.title {
  color: #fff;
  text-align: center;
}

.nftGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.nftContent {
  margin: 0 auto;
  text-align: center;
}

.img {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .nftGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .nftContent {
    margin: 0 auto;
    text-align: center;
    color: #fff;
  }

  .img {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    cursor: pointer;
  }
}
